html {
    font-size: 100%;
  }
  h2 {
    text-align: center;
    color: rgb(126, 170, 187);
    /*font-size: x-large;*/
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .wrapper {
    width: 50%;
  }
  
  .key-container {
    width: 50%;
  }
  
  textarea {
    width: 100%;
    background-color: rgb(208, 215, 228);
    border-width: 1px;
    border-color: rgb(133, 136, 143);
    box-sizing: border-box;
  }
  
  textarea::placeholder {
    color: rgb(104, 172, 199);
  }
  
  button {
    background-color: black;
    color: white;
    border-width: 1px;
  }
  
  .first, .second, .space_enter {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 50px);
  }
  
  .back-space {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  
  
  
  .ok {
    grid-row: span 2;
  }
  
  .caps-lock {
    grid-column: span 2;
  }
  
  .shift {
    grid-column: span 2;
  }
  
  
  
  .enter {
    grid-column: span 3;
  }
  
  .space {
    grid-column: span 9;
  }
  
  /* Media Querry */
  @media screen and (max-width: 1000px) {
    .key-container {
      width: 60%;
    }
    .wrapper {
      width: 60%;
    }
    button {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 992px) {
    .key-container {
      width: 80%;
    }
    .wrapper {
      width: 80%;
    }
    button {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .key-container {
      width: 95%;
    }
    .wrapper {
      width: 95%;
    }
    button {
      font-size: 1rem;
    }
    h2 {
      font-size: 1rem;
    }
  }